@charset "ISO-8859-1";

h1{
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	text-decoration: underline;
	color: white;
	margin-left: 800px;
}


.card{
	margin-top: 5%;
	padding-left : 20px;
	padding-right : 30px;
	width: 10rem;
	height : 30rem;
}

img{
	width : 100px;
	height : 350px;
	margin-top : 20px;
}

h5{
	color: white;
}
