@charset "ISO-8859-1";

h1{
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	text-decoration: underline;
	color: white;
	margin-left: auto;
	margin-right: auto;
}


.card{
	margin-top: 5%;
	padding-left : 20px;
	padding-right : 30px;
	width: 10rem;
	height : 30rem;
}

.btn{
	margin-left: 20px;
}

img{
	width : 80px;
	height: 350px;
	margin-top: 20px;
}

h2{
	float: left;
	color: white;
}

form{
	float : right;
}