@charset "ISO-8859-1";

body{
	background-image: url('../Images/team1.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

h2{
	background-color: black;
	color : white;
	width: 500px;
}

h1{
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	text-decoration: underline;
}

#myinp{
	width: 300px;
}